@font-face {font-family: 'Montserrat-Light';
  src:  url('../static/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {font-family: 'Montserrat-Thin';
  src:  url('../static/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}
@font-face {font-family: 'Montserrat-Bold';
  src:  url('../static/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {font-family: 'Montserrat-Semi-Bold';
  src:  url('../static/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {font-family: 'Montserrat-Regular';
  src:  url('../static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {font-family: 'Montserrat-Medium';
  src:  url('../static/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {font-family: 'Montserrat-Black';
  src:  url('../static/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

html {
  font-family: "Montserrat-Light";
}
body {
  font-family: "Montserrat-Light";
  --bg: #fff;
  --salmon: #ebbea8;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #aea8a9;
  --textGrey:#858585;
  --textLightBlack:#292929;
  --accent: #404040;
  --hr: #00000033;
  background-color: var(--bg);
  --bgCode: #cccccc;
  --main-font-light:'Montserrat-Light';
  --main-font-regular:'Montserrat-Regular';
  --main-font-bold:"Montserrat-Bold";
  --main-font-semi-bold:"Montserrat-Semi-Bold";
  --main-font-thin:"Montserrat-Thin";
  --main-font-thin:"Montserrat-Thin";
  --main-font-medium:"Montserrat-Medium";
  --main-font-black:"Montserrat-Black";
}

::selection {
  background: var(--textLink);
  color: var(--textNormal);
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
  line-height: 2;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: var(--textNormal);
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: var(--textNormal);
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  transition: all 0.3s;
}

.mapboxgl-ctrl {
  display: none !important;
}
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
.activeLink {
  span {
    display: block;
  }
}
.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-5 23:11:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
